<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="https://secure.gravatar.com/avatar/9ff9176cb3c383c60d7d91bf0dce141e?s=100&r=pg&d=mm" alt="Me" />
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>Lover of technology, avid <a href="http://twitter.com/tquizzle/">Twitter</a> user, vSomething and busy husband. Doing my <a href="http://q5incorporated.com">own thing</a> and a full-time job, a family, etc...the pressure is on. Bring it!</p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>